body {
  width: 100vw;
  padding-top: 2rem;
  background: url(/photos/beer-bg.jpeg);
  height: 100%;
  font-family: "Dosis", sans-serif;
}
.landing-page {
  background-color: aquamarine;
  width: 90vw;
  height: 90vh;
  display: none;
  border-radius: 20px;
}
.main-container {
  border-radius: 20px;
  height: 120%;
}
.the-class {
  height: 120%;
  border-radius: 20px;
  background-color: var(--nice-w);
  width: 95vw;
  overflow: hidden;
}
header {
  padding: 1rem 0;
}
.form-container {
  background-color: rgba(250, 181, 42, 0.685);
  padding: 0;
  margin: 0.3rem 0.3rem;
  border-radius: 10px;
}

.search:focus {
  border: none;
}
.table-container {
  background-color: var(--nice-w);
  width: 100%;
  border-radius: 20px;
  margin-bottom: 3em;
}
.weather-window {
  border-radius: 10px;
  display: inline-block;
  background-color: var(--weather-blue);
  color: var(--weather-text);
  font-weight: 500;
  position: sticky;
  top: 0;
  /* z-index: 1; */
  padding: 0.5rem;
  /* transform: translate(300%, -90%); */
  /* box-shadow: var(--weather-light-blue) 1px; */
}
.city:hover {
  text-decoration: underline;
}
h1 {
  padding: 0 0.5rem;
}
