body {
  width: 100vw;
  padding: 2rem 4rem;
  background: url(/photos/beer-bg.jpeg);
  height: 100%;
  font-family: "Dosis", sans-serif;
}
.landing-page {
  background-color: rgba(75, 74, 74, 0.687);
  width: 90vw;
  /* height: 90vh; */
  border-radius: 20px;
  /* outline: var(--olive) solid 5px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.main-container {
  border-radius: 20px;
  height: 120%;
  margin: 2rem 2rem;
}
.the-class {
  /* display: none; */
  height: 120%;
  border-radius: 20px;
  background-color: var(--nice-w);
  width: 85vw;
  overflow: hidden;
}
header {
  padding: 1rem 0;
}
.form-container {
  background-color: rgba(250, 181, 42, 0.685);
  /* padding: 0 1rem; */
  margin: 0.3rem 0.3rem;
  border-radius: 10px;
}

.search:focus {
  border: none;
}
.table-container {
  background-color: var(--nice-w);
  width: 100%;
  border-radius: 20px;
  margin-bottom: 3em;
}
.weather-window {
  border-radius: 10px;
  display: inline-block;
  background-color: var(--weather-blue);
  color: var(--weather-text);
  font-weight: 500;
  position: absolute;
  right: 20%;
  top: -50%;
  z-index: 1;
  padding: 0.5rem;
  transition: all 1s ease-in;
}
.city:hover {
  text-decoration: underline;
}
h1 {
  padding: 0 0.5rem;
}
.landing-page h1 {
  color: var(--nice-w);
  font-size: 4rem;
  /* text-align: center; */
}
.landing-page button {
  width: 6rem;
  height: 4rem;
  background-color: var(--olive);
  color: var(--primary-color);
  font-family: "Dosis", sans-serif;
  padding: 0;
  font-size: x-large;
  padding-bottom: 0.3rem;
  margin-top: 2rem;
}
