* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #fab32aff;
  --olive: #798b40ff;
  --nice-w: #fbf1e8ff;
  --gray-web: #838281ff;
  --davys-grey: #4b4a4aff;
  color: var(--davys-grey);
  font-size: 0.95rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.search {
  width: 6rem;
  padding: 0.3rem 0.3rem;
  margin: 1rem;
}
.table-row {
  width: 100%;
  /* background-color: brown; */
  height: 2rem;
  display: flex;
}
.table-cell {
  background-color: var(--nice-w);
  border: var(--olive) solid 1px;
  border-width: 1px 1px 0 1px;
  width: 2rem;
  height: 3rem;
  flex-grow: 1;
  text-align: center;
}
button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: var(--gray-web) solid 0.5px;
  flex-grow: 1;
}
.delete-student {
  background-color: var(--primary-color);
}
.edit-student {
  background-color: var(--olive);
}
.hidden {
  display: none;
}
.primary-border {
  outline: var(--olive) solid 5px;
}
